.desktop-play-screen {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .desktop-play-screen h2 {
    margin-bottom: 20px;
    color: #444;
  }
  
  .desktop-play-screen p {
    font-size: 18px;
    padding: 5px;
    border-bottom: 1px solid #ddd;
  }
  
  .desktop-play-screen ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
  }
  
  .desktop-play-screen ul li {
    padding: 10px;
    background-color: #eee;
    margin-bottom: 5px;
    border-radius: 5px;
  }
  